/* Global styles */
body, .parent-container {
  background-color: #EBA937;
}

.parent-container {
  overflow: hidden; /* Hide any overflowing content */
}

/* Styles for the dialog content */
.dialog-content {
  padding-top: 50px;
  height: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; /* Center the content horizontally */
  background-color: #EBA937;
  border-radius: 15px; /* Adjust border-radius to control roundness */
}

/* Styles for the input container */
.input-container {
  margin: 10px 0;
  width: 100%;
  max-width: 300px;
} 

/* Style the buttons */
.register-button {
  background-color: #EBA937; /* Change button background color */
  color: #000000; /* Change button text color */
  font-weight: bold;
  padding: 15px 50px; /* Adjust padding */
  border: none;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.bottom-text-button {
  position: absolute;
  bottom: 5px;
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
  color: inherit;
  text-decoration: underline; /* Optional: Add underline to make it visually distinct */
  /* Add other styling properties for the button */
}

/* Style the input field with a black underline */
.mat-form-field-underline .mat-input-element {
  border: none; /* Remove default border */
  border-bottom: 1px solid black; /* Add black underline */
  background-color: transparent; /* Optional: Make the background transparent */
}
