<HTML>
  <body>
    <mat-sidenav-container>
      <mat-sidenav class="sidebar" [mode]="'side'" opened>

        <div class="centered-header">

          <!-- Button on the left -->
          <button mat-icon-button (click)="handleLeftButtonClick()">
            <mat-icon>gourmet-angular\src\assets\category-images\menu.png</mat-icon>
          </button>

          <!-- "Pantry" header -->
          <h2>Pantry</h2>

          <!-- Button on the right -->
          <button mat-icon-button (click)="handleRightButtonClick()">
            <mat-icon>gourmet-angular\src\assets\category-images\trash.png</mat-icon>
          </button>

        </div>
        <div class="search-container">
          <div class="search-bar">
            <div class="search-icon">
              <mat-icon>search</mat-icon>
            </div>
            <input type="text" placeholder=" Search Ingredients " (input)="onSearchInputChange($event)">
          </div>

          <!-- end of sidebar -->
        </div>

        <!-- Loop through the categories -->
        <ng-container *ngFor="let category of categories">
          <mat-card class="sidebar-card" *ngIf="filterCategories(category)">
        
            <mat-card-header class="card-header">
              <div class="image-container">
                <img [src]="categoryImages[category]" alt="{{ category }} Image" class="small-image">
              </div>
              <div class="title">
                <mat-card-title>{{ category }}</mat-card-title>
                <div class="description">{{ getIngredientCount(category) }}</div>
              </div>
              <div class="button-container">
                <button mat-button class="subDropdown" (click)="categoryIsOpen[category] = !categoryIsOpen[category]">
                  <mat-icon class="arrow-icon">arrow_circle_down</mat-icon>
                </button>
              </div>
            </mat-card-header>
        
            <mat-card-content class="subDropdown" *ngIf="categoryIsOpen[category]" [@dropDownMenu]>

              <!-- Loop through subcategories -->
              <div class="subcategory-container">
                <ng-container *ngFor="let subcategory of categorySubcategoryMap[category]; let i = index">
                  <mat-button-toggle
                    *ngIf="filterCategories(subcategory)"
                    [ngClass]="{'active': subcategoryStates[subcategory], 'selected': subcategoryStates[subcategory]}"
                    (click)="toggleSubcategory(subcategory)">
                    <span class="button-label">{{ subcategory }}</span>
                  </mat-button-toggle>
                </ng-container>
              </div>


            </mat-card-content>

          </mat-card>
        </ng-container>
        
        
        

      </mat-sidenav>
    </mat-sidenav-container>
  </body>
</HTML>