.flex-container {
    display: flex;
  }

.flex-body{
    margin: auto;
  padding: 20px;
}

.card-img-top {
    width: 100%;
    height: 20vh;
    object-fit: cover;
    }

.cursor{
    cursor: pointer;
}