<div class="flex-container">
  <div>
    <!-- User profile card -->
    <div class="card" style="width: 24rem;" *ngIf="!isEditing">
      <div class="card-body">
        <h4 class="d-flex align-items-center mb-3">Your Profile</h4>

        <div class="row">
          <div>
            <h6 class="mb-0">Username</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            {{username}}
          </div>
        </div>
        <hr>
        <div class="row">
          <div>
            <h6 class="mb-0">Email</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            {{email}}
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-12">
            <a class="btn btn-warning" (click)="editProfile()">Edit Profile</a>
          </div>
        </div>
      </div>
    </div>
    <!-- User profile card editor -->
    <div class="card" style="width: 24rem;" *ngIf="isEditing">
      <div class="card-body">
        <h4 class="d-flex align-items-center mb-3">Editing Profile</h4>
        <form [formGroup]="updateForm">
          <div class="row">
            <div>
              <h6 class="mb-0">Username</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              <input class="form-control rounded" placeholder="New Username" [(ngModel)]="input_username" formControlName="username">
              <mat-error *ngIf="getUsername?.invalid">Invalid username.</mat-error>
            </div>
          </div>
          <hr>
          <div class="row">
            <div>
              <h6 class="mb-0">Email</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              <input class="form-control rounded" placeholder="New email" [(ngModel)]="input_email" formControlName="email">
              <mat-error *ngIf="getEmail?.invalid">Invalid email address.</mat-error>
            </div>
          </div>
        </form>
        <hr>
        <div class="row">
          <div class="col-sm-12 d-flex justify-content-between">
            <a class="btn btn-danger" (click)="editProfile()">Cancel</a>
            <a class="btn btn-warning" (click)="confirmEdit()">Confirm Edit</a>
          </div>
        </div>
      </div>
    </div>

    <br>
    <!-- Recipe cards -->
    <div>
      <div>
        <div class="card h-100">
          <div class="card-body">
            <h4 class="d-flex align-items-center">Your recipes</h4>
            <div class="input-container">
              <div class="input-group">
                <input type="search" class="form-control rounded" placeholder="Search Recipes" [(ngModel)]="searchTerm">
                <button type="button" class="btn btn-outline-warning" (click)="searchRecipe()">search</button>
              </div>
              <br>
              <!-- Default list -->
              <div *ngIf="!searchBool">
                <mat-grid-list cols="2">
                <span *ngFor="let item of items">
                    <!-- <mat-grid-tile> -->
                    <mat-card class="card" style="width: 100%;" [ngClass]="{'deleted': item.deleted, 'nada': !item.deleted}">
                      <div class="embed-responsive embed-responsive-16by9 cursor">
                        <img class="card-img-top embed-responsive-item" (click)="clickRecipe(item)"
                          src="https://a.cdn-hotels.com/gdcs/production0/d1513/35c1c89e-408c-4449-9abe-f109068f40c0.jpg?impolicy=fcrop&w=800&h=533&q=medium" />
                      </div>
                      <mat-card-content>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="title"> 
                            <mat-card-title>{{item.name}}</mat-card-title>
                          </div>
                          <button mat-button (click)="deleteRecipe(item)">
                            <mat-icon
                              style="width: 20px; height: 20px; font-size: 20px"
                              fontIcon="delete"
                            > </mat-icon>
                          </button>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="flex-body">Protein: 0g</div>
                          <div class="flex-body">Fat: 0g</div>
                          <div class="flex-body">Carbohydate: 0g</div>
                        </div>
                      </mat-card-content>
                    </mat-card>
                  
                  <br>
                  <!-- </mat-grid-tile>  -->
                </span>
              </mat-grid-list>
              </div>
              <!-- Search results -->
              <span *ngFor="let item of searchResults">
                <div class="card">
                  <div class="embed-responsive embed-responsive-16by9 cursor">
                    <img class="card-img-top embed-responsive-item" (click)="clickRecipe(item)"
                      src="https://a.cdn-hotels.com/gdcs/production0/d1513/35c1c89e-408c-4449-9abe-f109068f40c0.jpg?impolicy=fcrop&w=800&h=533&q=medium" />
                  </div>
                  <div class="card-body">
                    <h4 class="card-title">{{item.name}}</h4>
                    <button type="button" class="btn btn-danger" (click)="deleteRecipe(item)">Delete</button>
                  </div>
                </div>
                <br>
              </span>
              <!-- Message if nothing pops up in search bar -->
              <div *ngIf="searchBool && searchResults.length === 0">
                Whoops! Looks like there are no matches to your search :&lpar;
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>