<div class="toolbar" role="banner">
  <button class="logo" routerLink="/">FoodOvers</button>
  <div class="spacer"></div>
  <button class="text-button" *ngIf="loggedIn" routerLink="/profile">Profile</button>
  <button class="text-button" *ngIf="loggedIn" routerLink="/pantry">Pantry</button>
  <button class="text-button" *ngIf="!loggedIn" (click)="openRegistration()">Register</button>
  <button class="text-button" *ngIf="!loggedIn" (click)="openLogin()">Login</button>
  <button class="text-button" *ngIf="loggedIn" (click)="logout()">Logout</button>
</div>