/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  font-size: 12px;
}

@font-face {
  font-family: "Hercules";
  src: url("./assets/Hercules.ttf");
}

.logo {
  background: none;
  border: none;
  padding-left: 40px;
  font-family: Hercules;
  font-size: 26px;
  cursor: pointer;
  color: black;
}

/* Styles to make the button look like plain text */
.text-button {
  background: none;
  border: none;
  padding-right: 15px;
  font: inherit;
  cursor: pointer;
  color: inherit;
  text-decoration: underline; /* Optional: Add underline to make it visually distinct */
}

.bottom-text-button {
  position: absolute;
  bottom: 5px;
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
  color: inherit;
  text-decoration: underline; /* Optional: Add underline to make it visually distinct */
  /* Add other styling properties for the button */
}

body {
  background-color: #FEFFEC;
}

/* Style the scrollbar track */
::-webkit-scrollbar {
  width: 6px; /* Set the width of the scrollbar */
  background-color: #EBA937; /* Set the background of the scrollbar  */
  border-top-left-radius: 12px; /* Round the top-left corner */
  border-top-right-radius: 12px; /* Round the top-right corner */
  border-bottom-left-radius: 12px; /* Round the bottom-left corner */
  border-bottom-right-radius: 12px; /* Round the bottom-right corner */
}

/* Style the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background-color: #707070; /* Set the Discord gray color */
  border-radius: 12px; /* Round the edges of the thumb */
}