<!-- Recipe cards -->
<div class="recipe-container">
  <div>
    <h4 class = "recipe-title" >
      <b>Matching Recipes</b>
    </h4>
    <!-- <div class="input-container"> -->
      <div class="input-group">
        <input type="search" class="form-control rounded" placeholder="Search Recipes" [(ngModel)]="searchTerm">
        <button *ngIf="!favToggle" type="button" class="btn btn-outline-warning" (click)="toggleFav()"><mat-icon fontIcon="star"
          matTooltip="Look up your saved recipes">
        </mat-icon></button>
        <button *ngIf="favToggle" type="button" class="btn" style="background-color: #ffc107;" (click)="toggleFav()"><mat-icon fontIcon="star"
          matTooltip="Look up your saved recipes">
        </mat-icon></button>
        <button type="button" class="btn btn-outline-warning" (click)="searchRecipe()">search</button>
      </div>
      <br>
      <!-- Default list -->
      
      <!-- Search results -->
      <div *ngIf="searchBool">
        <mat-grid-list [cols]="isMobile ? 1 : 2" rowHeight="20rem" class="recipe-grid">
          <mat-grid-tile *ngFor="let item of searchResults2">
            <mat-card style="width: 30rem;">
              <div class="embed-responsive embed-responsive-16by9 cursor">
                <img class="card-img-top embed-responsive-item" (click)="clickRecipe(item)" src="{{item.image}}" />
              </div>
              <mat-card-content>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="title">
                    <mat-card-title>{{item.title}}</mat-card-title>
                  </div>
                  <button mat-button *ngIf="!loggedIn"
                  matTooltip="Log in to save your recipe">
                    <mat-icon style="width: 20px; height: 20px; font-size: 20px" [ngStyle]="{'color': '#6b6b6b'}" fontIcon="bookmark_add"> </mat-icon>
                  </button>
                  <button mat-button *ngIf="!item.fav && loggedIn" (click)="favRecipe(item)"
                  matTooltip="Save this recipe">
                    <mat-icon style="width: 20px; height: 20px; font-size: 20px" fontIcon="bookmark_add"> </mat-icon>
                  </button>
                  <button mat-button *ngIf="item.fav && loggedIn" (click)="unfavRecipe(item)"
                  matTooltip="Remove from your saved list">
                    <mat-icon style="width: 20px; height: 20px; font-size: 20px;" [ngStyle]="{'color': '#f1ab31'}" fontIcon="bookmark_added"> </mat-icon>
                  </button>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                  <div>Protein: 0g</div>
                  <div>Fat: 0g</div>
                  <div>Carbohydate: 0g</div>
                </div>
              </mat-card-content>
            </mat-card>
          </mat-grid-tile>

        </mat-grid-list>
      </div>
      <!-- Message if nothing pops up in search bar -->
      <div *ngIf="searchBool && searchResults.length === 0">
        Whoops! Looks like there are no matches to your search :&lpar;
      </div>

    <div class="footer">
      <button mat-button *ngIf="currentPage!=1" (click)="prevPage()"
      matTooltip="Previous page">
        <mat-icon style="width: 40px; height: 40px; font-size: 40px" [ngStyle]="{'color': '#f1ab31'}" fontIcon="chevron_left"> </mat-icon>
      </button>
      <div *ngIf="currentPage==1"></div>

      <div></div>

      <button mat-button *ngIf="currentPage!=resultSize" (click)="nextPage()"
      matTooltip="Next page">
        <mat-icon style="width: 40px; height: 40px; font-size: 40px" [ngStyle]="{'color': '#f1ab31'}" fontIcon="chevron_right"> </mat-icon>
      </button>
    </div>
  </div>
</div>