.landing-page {
  background: linear-gradient(to bottom, #EBA937, #f8e578);
  color: black;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  padding: 80px 20px;
  text-align: center;
}

.left-column, .right-column {
  flex: 1;
  padding: 20px;
}

.left-column {
  text-align: left;
}

.logo-LP {
  background: none;
  border: none;
  font-family: Hercules;
  padding: 50px 100px 100px 50px;
  margin: 0px;
  font-size: 90px;
  cursor: pointer;
  color: black;
  transform: rotate(-5deg);
}

.images-container {
  display: flex;
  margin: 250px 40px;
}

.image-wrapper {
  width: 400px; /* Square image size */
  height: auto; /* Square image size */
  margin: 0 -40px; /* Slightly stagger the images */
  overflow: hidden; /* Ensure images don't overflow the container */
}

.landing-image {
  width: 100%; /* Ensure the image covers the container */
  height: auto; /* Ensure the image covers the container */
  object-fit: cover;
  border-radius: 10px;
}

.image-1 {
  transform: translateY(-150px);
}

.image-2 {
  transform: translateY(100px);
}

.cta-paragraph {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.cta-button {
  background-color: #EBA937;
  color: black;
  margin: 50px 300px;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: #f8e578;
}

/* Media Query for Smaller Screens */
@media (max-width: 768px) {
  .landing-page {
    flex-direction: column; /* Stack columns on top of each other */
    padding: 40px 20px; /* Adjust padding for smaller screens */
    height: 100%;
    max-width: 100%;
    width: auto;
  }

  .logo-LP {
    background: none;
    border: none;
    font-family: Hercules;
    margin: 0px;
    font-size: 2rem;
    cursor: pointer;
    color: black;
    transform: rotate(-5deg);
  }

  .cta-paragraph {
    font-size: 1rem;
    margin-bottom: 20px;
  }
  
  .cta-button {
    background-color: #EBA937;
    color: black;
    margin: 50px auto; /* Auto margin left and right */
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block; /* Make the button a block element */
  }

  .images-container {
    margin: 20px 0; /* Adjust margin for smaller screens */
  }

  .image-wrapper {
    width: 50%; /* 50% of the parent container */
  }

  .image-1 {
    transform: translateX(4.5vh);
  }
  
  .image-2 {
    transform: translateX(14.5vh);
  }

  .cta-button {
    margin: 20px 0; /* Adjust margin for smaller screens */
  }
}