.dialog-content {
  padding-top: 50px;
  height: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; /* Center the content horizontally */
  background-image: linear-gradient(#EBA937, #FFE2AF);
}

.input-container {
  margin: 10px 0;
  width: 100%;
  max-width: 300px;
} 

/* Style the buttons */
.login-button {
  background-color: #EBA937; /* Change button background color */
  color: #000000; /* Change button text color */
  font-weight: bold;
  padding: 15px 50px; /* Adjust padding */
  border: none;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.bottom-text-button {
  justify-content: center;
  position: absolute;
  bottom: 20px;
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
  color: inherit;
  text-decoration: underline; /* Optional: Add underline to make it visually distinct */
  /* Add other styling properties for the button */
}

/* Style the input field with a black underline */
.mat-form-field-underline .mat-input-element {
  border: none; /* Remove default border */
  border-bottom: 1px solid black; /* Add black underline */
  background-color: transparent; /* Optional: Make the background transparent */
}

@media only screen and (max-width: 768px) {
  .input-container {
    width: 100%; /* Remove max-width to allow full width on smaller screens */
  }
  
  .dialog-content {
    height: 100%; /* Use the full height of the viewport */
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; /* Center the content both horizontally and vertically */
    text-align: center; /* Center the content horizontally */
    background-image: linear-gradient(#EBA937, #FFE2AF);
  }

  .login-form-wrapper {
    width: 100%; /* Set full width for smaller screens */
  }
}