.Grid{
  width: 1000px;
  height: auto;
  padding: 10px;
  padding-top: 20px;
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;

}

.Cardheld{
  position: absolute;
  height: auto;
  padding: 5px;
  display: grid;
  background-color: #fafafae5;
}

.mat-grid-tile-content{
  display: flex;
  align-items: center;
  flex-direction: column;
  height: fit-content;
}
