.public > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

header {
  z-index: 100;
  position: fixed;
  height: 60px;
  width: 100%;
}

body {
  position: absolute;
  top: 60px; /* This value should be equal to the header's height */
  width: 100%;
  padding: 20px;
}