.content{
    /* padding for header */
    padding-top: 5rem; 
    /* padding for sidebar */

    /* centers element */
    display: grid;
    grid-template-columns: auto auto auto;
    place-items: center;
    

    /* border: 3px green solid; */
}