
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
<html>
  <div class="content" role="main">
    <!-- Button to open/close the sidebar on small screens -->
    <button class="open-sidebar-button" (click)="toggleSidebar()" *ngIf="isMobile">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Include the SidebarComponent within your content -->
    <app-sidebar></app-sidebar>

    <!-- All main content goes here -->
    <app-recipecard-list [_dataset]="recipeTest"></app-recipecard-list>
    <!-- testing for the recipe cards
    <app-recipecard></app-recipecard>-->
  </div>
</html>
